/* Estilo do fundo do formulário */
body {
    background-image: linear-gradient(to bottom, #f2f2f2, #d9d9d9); /* Gradiente de fundo */
    font-family: Arial, sans-serif; /* Fonte para o texto no formulário */
    margin: 0; /* Remover margens padrão do corpo */
    padding: 0; /* Remover preenchimento padrão do corpo */
  }
  
#survey-form {
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centralizar o formulário na página */
    padding: 20px; /* Espaçamento interno do formulário */
    background-color: #fff; /* Cor de fundo do formulário */
    border: 1px solid #ccc; /* Borda do formulário */
    border-radius: 10px; /* Cantos arredondados do formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra do formulário */
}

/* Estilos para o título estilizado */
h1 {
    font-size: 36px; /* Tamanho da fonte do título */
    color: #007bff; /* Cor do título */
    text-align: center; /* Centralizar o texto */
}
  
  /* Estilos para o parágrafo abaixo do título */
p {
    font-size: 18px; /* Tamanho da fonte do parágrafo */
    color: #333; /* Cor do texto do parágrafo */
    text-align: center; /* Centralizar o texto */
    margin-top: 10px; /* Espaçamento superior do parágrafo */
}
  
  /* Estilos para os campos de entrada */
input[type="text"],
input[type="email"]{
    margin-bottom: 20px;
    width: 80%; /* Preenche a largura do contêiner */
    padding: 10px; /* Espaçamento interno dos campos */
    border: 1px solid #ccc; /* Borda dos campos */
    border-radius: 3px; /* Cantos arredondados dos campos */
}

input[type="number"]{
    margin-bottom: 20px;
    width: 35%; /* Preenche a largura do contêiner */
    padding: 10px; /* Espaçamento interno dos campos */
    border: 1px solid #ccc; /* Borda dos campos */
    border-radius: 3px; /* Cantos arredondados dos campos */
}

select{
    margin-bottom: 20px;
    width: 30%; /* Preenche a largura do contêiner */
    padding: 10px; /* Espaçamento interno dos campos */
    border: 1px solid #ccc; /* Borda dos campos */
    border-radius: 3px; /* Cantos arredondados dos campos */
}

/* Estilos para os input do tipo radio e suas labels */
input[type="radio"] + label {
    display: inline-block; /* Colocar as labels ao lado dos radio buttons */
    vertical-align: middle; /* Alinhar verticalmente com os radio buttons */
    margin-left: 10px; /* Espaçamento à esquerda das labels */
  }

fieldset {
    display: flex;
    flex-direction: column;
}
  
  /* Estilos para os input do tipo checkbox e suas labels */
.input-container {
    display: flex;
    align-items: center;
}
  
.input-container input[type="checkbox"] {
    margin-right: 5px; /* Espaçamento à direita das caixas de seleção */
}
  
.input-container label {
    margin: 0; /* Remova margens padrão */
}
  
  
  
  /* Estilizar a cor de fundo do campo quando focado */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none; /* Remover contorno padrão */
    border-color: #007bff; /* Cor da borda quando focado */
}
  
  /* Estilos para rótulos dos campos */
label {
    display: block; /* Rótulos em uma nova linha */
    margin-bottom: 5px; /* Espaçamento inferior entre rótulos */
}

/* Estilos para a textarea */
textarea {
    width: 94%; /* Preenche a largura do contêiner */
    padding: 10px; /* Espaçamento interno da textarea */
    border: 1px solid #ccc; /* Borda da textarea */
    border-radius: 3px; /* Cantos arredondados da textarea */
    resize: vertical; /* Permitir apenas redimensionamento vertical */
    min-height: 100px; /* Altura mínima da textarea */
    font-family: Arial, sans-serif; /* Fonte para o texto na textarea */
  }

.center-button {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 100%; /* Ocupar a altura total do contêiner, se necessário */
}

#submit {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Sem borda no botão */
    border-radius: 3px; /* Cantos arredondados do botão */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
}
  
  /* Estilizar o botão quando passar o mouse sobre ele */
#submit:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}
  
  


  

